Extract data from an excel file 
check the age 
if bigger than 12 y, send email to user notifying and send email to team notifying

In [1]:
import pandas as pd

In [2]:
pd.read_excel("Python project.xlsx", index_col=0)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Subjects,child_1,age_child_1,child_2,age_child_2,child_3,age_child_3
NaN,subject A,2010-01-18 00:00:00,11.916667,2017-08-19 00:00:00,4.330556,NaN,NaN
NaN,subject B,2009-07-09 00:00:00,12.441667,2015-03-25 00:00:00,6.730556,NaN,NaN
NaN,subject C,2012-09-08 00:00:00,9.277778,2018-01-26 00:00:00,3.894444,2019-10-21 00:00:00,2.158333
NaN,subject D,2013-09-07 00:00:00,8.280556,2014-12-12 00:00:00,7.016667,NaN,NaN
NaN,subject E,2013-08-24 00:00:00,8.316667,2017-07-22 00:00:00,4.405556,NaN,NaN
NaN,subject F,2015-12-18 00:00:00,6,2021-01-09 00:00:00,0.941667,NaN,NaN
NaN,subject P,2015-01-27 00:00:00,6.891667,2020-07-25 00:00:00,1.397222,NaN,NaN
NaN,subject Z,2016-08-01 00:00:00,5.380556,2017-07-19 00:00:00,4.413889,NaN,NaN
NaN,subject K,2016-10-22 00:00:00,5.155556,2018-04-23 00:00:00,3.652778,NaN,NaN

In [3]:
from datetime import date

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [4]:
import openpyxl as op
import datetime

In [10]:
for row in range(2, ws.child_birth_year + 1):
    ws["child_1"] = ws["child_1" + str(row).value]
    born = datetime.datetime.strptime(wsx["child_1"], "%m/%d/%y")
    ws["age_child_1" + str(row)].value = today.year - born.year - ((today.month, today.day) < (born.month, born.day))

NameError: name 'ws' is not defined